MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/pr_review?retryWrites=true&w=majority
REDIS_URL=rediss://default:<token>@<host>.upstash.io:6379
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
JWT_SECRET=generate_with__node_-e_"console.log(require('crypto').randomBytes(32).toString('hex'))"
CLIENT_URL=http://localhost:5173
PORT=5000
